h4 {
    margin: 0;
}

.themes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.15);
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.2s;
    color: white;
    font-size: 18px;
}

.theme a:hover {
    background-color: rgba(2, 12, 71, 0.5);
    transform: scaleY(1.05) scaleX(1.01);
}

.theme a:active {
    background-color: rgba(2, 12, 71, 0.8);
}

.theme a .title {
    text-transform: uppercase;
}

.knowledgesInTheme {
    margin-top: 10px;
    text-align: left;
    display: flex;
    max-height: 210px;
}

.knowledgesInTheme ol {
    overflow-y: scroll;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: inset 0 0 0 2px rgb(188, 188, 188);
}

.knowledgesInTheme ol li {
    margin: 3px 10px 3px 0;
}

.knowledgesInTheme p {
    margin: 0 0 0 10px;
}

::-webkit-scrollbar {
    width: 0;
}