.knowledges {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.knowledge {
    border: 1px solid rgb(188, 188, 188);
    background-color: rgba(209, 209, 209, 0.15);
    border-radius: 5px;
    margin: 0 10px 10px 0;
    padding: 10px;
}

.quantum .type {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(188, 188, 188);
}

.themeName {
    margin: 30px 60px 30px 60px;
} 

.empty {
    font-size: 30px;
}