.filters {
    width: var(--filters-width);
    background: var(--filters-bg-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.95;
    font-family: 'Montserrat', sans-serif;
    padding: 45px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
}