fastapi==0.87.0
pydantic==1.10.2
starlette==0.21.0
httpx==0.23.1
orjson==3.8.2
uvicorn==0.20.0

contextvars==2.4
yappi==1.4.0

redis==4.3.5
psycopg2-binary==2.9.5
asyncpg==0.27.0
SQLAlchemy[asyncio]==1.4.44
alembic==1.8.1

pytest==7.2.0
pytest-asyncio==0.20.2
asynctest==0.13.0
pytest-cov==4.0.0
pytest-xdist==3.0.2