.links-actions > * {
    cursor: pointer;
}

.links-actions {
    display: flex;
    align-items: center;
}

.links-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

