body {
  font-family: Montserrat, sans-serif;
  background-color: #E5E5E5;;
}

table th, table td {
  border-right: 0.05rem solid #DADADA;
}

.table_container table {
  max-width: 100%;
}

.table_container {
  position: relative;
  background: #F4F4F4;
  counter-reset: counter;
}

.table_container table {
  width: 100%;
  margin: 0;
}

.table_container thead {
  height: 45px;
  background: #E9E9E9;
}

.table_container tbody tr td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_container tbody tr td .id-column {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_container tbody {
  background: #F4F4F4;
}

.first-column-element {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  font-size: 15px;
  width: 300px;
  cursor: pointer;
  transition: .2s;
}

.first-column-element:hover {
  background-color: #DADADA;
  border-radius: 5px;
  padding: 0 5px;
}

.secondary-column-elements {
  position: relative;
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  transition: 0.2s;
  width: 900px;
}

.secondary-column-elements::-webkit-scrollbar {
  display: none;
}

.secondary-column-elements .secondary-column-element {
  background: #DADADA;
  border-radius: 5px;
  margin-right: 5px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 6px;
}

/* MODAL */

.modal-dialog .modal-block {
  font-size: 14px;
}

.modal-dialog .modal-block__column-name {
  text-transform: uppercase;
  margin: 5px 0;
}

.modal-dialog .modal-block__elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-dialog .modal-block__elements .secondary-column-element {
  background-color: #DADADA;
  border-radius: 5px;
  margin-bottom: 5px;
  line-height: 30px;
  padding: 0 6px;
}

.modal-block__search {
  width: 100%;
  background-color: #F4F4F4;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.modal-footer {
  justify-content: flex-start;
}

/* TARGETS_TABLE */

.targetsTable .first-column-element {
  width: 500px;
}

.targetsTable .secondary-column-elements {
  width: 700px;
}

/* LOGIN */

.login {
  position: absolute;
  top: 15px;
  right: 30px;
}

.account_icon {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}

.account_icon:hover {
  background-color: #DBDBDB;
}

.account_icon.opened {
  background-color: #F9F9F9;
}

.login__form {
  display: none;
}

.login__form.opened {
  display: block;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 10px;
  z-index: 10;
}

.login__form input {
  border: none;
  border-bottom: 2px solid #D0D0D0;
  background-color: #E0E0E0;
  outline: #000;
  margin-bottom: 10px;
  transition: .2s;
}

.login__form input:focus {
  border-bottom-color: #999;
}

.login__form button {
  position: relative;
  border: none;
  outline: none;
  background-color: #E0E0E0;
  transition: .2s;
  align-self: flex-start;
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.login__form button:hover::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  border: 1px solid #999;
}

.login__form button svg {
  margin-right: 5px;
}

.login__form__button {
  height: 30px;
}

/* ADD MENU */

.add {
  position: relative;
  display: block;
  width: 65px;
  height: 30px;
  align-self: center;
  cursor: pointer;
  transition: 0.2s;
}

.add.opened {
  transform: rotate(45deg);
}

.add::before, .add::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  background-color: black;
  transition: 0.2s;
}

.add::after {
  transform: translateY(-50%) rotate(90deg);
}

.add:hover::after, .add:hover::before,
.add.opened::after, .add.opened::before {
  height: 25px;
}

@keyframes addMenuAppearance {
  0% {
      opacity: 0;
      width: 0;
      top: 0;
      transform: translateX(-40%) scale(0.5);
  }
  100% {
      opacity: 1;
      width: 360px;
  }
}

.addMenu {
  position: absolute;
  top: 50px;
  transform: translateX(-80%);
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  list-style: none;
  background: #E3E3E3;
  border-radius: 5px;
  animation: addMenuAppearance 0.2s;
  z-index: 10;
}

.postControls {
  position: relative;
  top: 100px;
}

.nav {
  position: relative;
  margin-top: 90px;
  left: 80px;
  width: calc(100% - 80px);
}

.nav .nav-item .nav-link {
  background: #DBDBDB;
  text-decoration: none;
  color: #797979;
  margin-right: 5px;
  height: 40px;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  transition: 0.2s;
}

.nav .nav-item .nav-link:hover {
  box-shadow: inset 0 0 2px 2px #f4f4f4;
}

.nav .nav-item .nav-link.active {
  background: #F4F4F4;
  color: #000;
  border: none;
}

.nav .nav-item:nth-child(6) .nav-link {
  position: absolute;
  display: flex;
  right: 30px;
  margin-right: 0;
  font-weight: 600;
  color: #000;
}

.nav .nav-item:nth-child(6) .nav-link svg {
  margin-right: 5px;
}

/* TABLE LINKS */

.finder-tables {
  position: relative;
}

.hamburger {
  position: absolute;
  left: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger:hover {
  background-color: #DBDBDB;
}

.hamburger.open {
  background: #F9F9F9;
}

@keyframes tableAppearance {
  0% {
      opacity: 0;
      width: 0;
      left: 0;
      transform: scale(0.5);
  }
  100% {
      opacity: 1;
      width: 360px;
  }
}

.hamburger.open + .table-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 15px;
  list-style: none;
  width: 360px;
  background: #E3E3E3;
  border-radius: 5px;
  left: 80px;
  animation: tableAppearance 0.2s;
  z-index: 10;
}

.table-links .table-link,
.addMenu .addMenu_item {
  display: flex;
  position: relative;
  color: black;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  line-height: 35px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 40px;
  transition: 0.1s;
  cursor: pointer;
}

.table-links .table-link:hover,
.addMenu .addMenu_item:hover {
  background: #EBEBEB;
}

.checkMark::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 13px;
  height: 13px;
  background-image: url('assets/icons/check_mark.svg');
}

.table-links .search_tables,
.addMenu .add_search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F4F4F4;
  margin-bottom: 5px;
  transition: 0.2s;
}

.table-links input,
.addMenu input {
  background: #E3E3E3;
  border: none;
  margin-left: 8px;
  width: 100%;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
}

.table-links input:focus,
.addMenu input {
  outline: none;
}

.addMenu svg {
  opacity: .3;
}

/* TOOLBAR */

.toolbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #F4F4F4;
  height: 70px;
  padding: 16px 25px;
}

.toolbar .left {
  display: flex;
  font-size: 13px;
}

/* SEARCH */

.toolbar .search {
  width: 90px;
  transition: 0.2s;
}

.toolbar .search svg {
  opacity: .7;
}

.toolbar .search:hover, .toolbar .search:hover input {
  background: #EBEBEB;
}

.toolbar .search input {
  width: 100%;
  background-color: #F4F4F4;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.2s;
}

.toolbar .search:focus-within {
  width: 200px;
}

.toolbar .search input:focus {
  outline: none;
}

/* SORTING */

.toolbar .sorting {
  position: relative;
  margin-left: 15px;
}

.toolbar .sorting svg {
  opacity: .7;
}

.toolbar .sorting.opened,
.toolbar .sorting .options div:hover, .toolbar .sorting .options .option.clicked {
  background: #EBEBEB;
}

.toolbar .sorting .options {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -55px;
  width: 200px;
  padding: 15px;
  height: 50px;
  background: #E3E3E3;
  border-radius: 5px;
  z-index: 10;
  visibility: visible;
}

.toolbar .sorting .options.closed {
  visibility: hidden;
  opacity: 0;
}

.toolbar .sorting .options div {
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: 600;
  font-size: 12px;
}

/* ADD_ELEMENT */

.toolbar .add-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.toolbar .add-element svg {
  opacity: .7;
  margin-right: 2px;
}

/* TO_GRAPH */

.toGraph a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  padding: 10px 4px;
  transition: .2s;
}

.toGraph a svg {
  margin-right: 5px;
}

/* BUTTON */

.button {
  transition: .2s;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.button:hover {
  background: #EBEBEB;
}

/* SPINNER */

.spinner {
  position: relative;
  height: calc(100vh - 200px);
}

.spinner div {
  position: absolute;
  left: 50%;
  top: 40%;
}

.related-loading {
  display: block;
  margin-bottom: 1rem;
}
