/* TOOLBAR */

.toolbar {
    display: flex;
    align-items: center;
    background: #F4F4F4;
    height: 70px;
    padding: 16px 25px;
}

/* SEARCH */

.toolbar .search {
    display: flex;
    align-items: center;
    padding: 10px 4px;
    width: 90px;
    height: 40px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.toolbar .search:hover, .toolbar .search:hover input {
    background: #EBEBEB;
}

.toolbar .search input {
    width: 100%;
    background-color: #F4F4F4;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
}

.toolbar .search:focus-within {
    width: 200px;
}

.toolbar .search input:focus {
    outline: none;
}

/* SORTING */

.toolbar .sorting {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 40px;
    padding: 4px;
    padding-right: 12px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.toolbar .sorting:hover, .toolbar .sorting.opened {
    background: #EBEBEB;
}

.toolbar .sorting .options {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -55px;
    width: 200px;
    padding: 15px;
    height: 50px;
    background: #E3E3E3;
    border-radius: 5px;
    z-index: 10;
    visibility: visible;
    transition: 0.2s;
}

.toolbar .sorting .options.closed {
    visibility: hidden;
    opacity: 0;
}

.toolbar .sorting .options div {
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: 600;
    font-size: 12px;
}

.toolbar .sorting .options div:hover,
.toolbar .sorting .options .option.clicked {
    background: #EBEBEB;
}