table th, table td {
    border-right: 0.05rem solid #DADADA;
}

table thead th:first-child, table tbody td:first-child {
    border-right: none;
}

.table_container {
    position: relative;
    top: 90px;
    background: #F4F4F4;
    counter-reset: counter;
}

.table_container table {
    margin: 0;
}

.table_container thead {
    height: 45px;
    background: #E9E9E9;
}

.table_container thead th:nth-child(1),
.table_container tbody tr td:nth-child(1) {
    border-right: none;
    position: relative;
    width: 50px;
}

.table_container tbody tr td:nth-child(1) .id {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

.table_container tbody {
    background: #F4F4F4;
}

.first-column-element {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    font-size: 15px;
}

.courseTable .first-column-element.courseName {
    width: 185px;
}

.themeTable .first-column-element.themeName {
    width: 300px;
}

.knowledgeTable .first-column-element.knowledgeName {
    width: 500px;
}

.secondary-column-elements {
    position: relative;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    transition: 0.2s;
}

.secondary-column-elements::-webkit-scrollbar {
    display: none;
}

.courseTable .secondary-column-elements.themes {
    width: 980px;
}

.themeTable .secondary-column-elements.knowledges {
    width: 700px;
}

.quantumTable .secondary-column-elements.knowledges {
    width: 800px;
}

.themeTable .courses.secondary-column-elements {
    width: 300px;
}

.knowledgeTable .themes.secondary-column-elements {
    width: 700px;
}

.knowledgeTable .quantums.secondary-column-elements,
.knowledgeTable .targets.secondary-column-elements {
    width: 400px;
}

.secondary-column-elements .secondary-column-element {
    background: #DADADA;
    border-radius: 5px;
    margin-right: 5px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 6px;
}

/* CHECKBOX */

/* .table_container tbody td {
    position: relative;
}

.table_container tbody td input[type="checkbox"] {
    display: none !important;
}

.table_container tbody td input[type="checkbox"] + label {
    display: block;
    position: relative;
}

.table_container tbody td input[type="checkbox"] + label::after {
    position: absolute;
    width: 20px;
    transform: translateY(40%);
    left: 25px;
    z-index: 10;
}

.table_container.themeTable tbody td input[type="checkbox"] + label::after {
    left: 18px;
}

.table_container tbody tr:hover td:nth-child(2) .id {
    opacity: 0;
    transform: scale(0.2);
}

.table_container tbody tr:hover td input[type="checkbox"] + label::after {
    content: "";
    background-image: url('/public/icons/Rectangle.svg');
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.table_container tbody td input[type="checkbox"]:checked + label::after,
.table_container tbody tr:hover td input[type="checkbox"]:checked + label::after {
    content: "";
    background-image: url('/public/icons/FillRectangle.svg');
    width: 15px;
    height: 15px;
}

.table_container tbody td input[type="checkbox"]:checked + label::before,
.table_container tbody tr:hover td input[type="checkbox"]:checked + label::before {
    content: "";
    background-color: #F4F4F4;
    width: 35px;
    height: 20px;
    position: absolute;
    transform: translateY(15%);
    left: 15px;
    z-index: 10;
}

.table_container.themeTable tbody td input[type="checkbox"]:checked + label::before,
.table_container.themeTable tbody tr:hover td input[type="checkbox"]:checked + label::before {
    left: 8px;
} */

/* ADD MENU */

.add {
    position: relative;
    display: block;
    width: 65px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    transition: 0.2s;
}

.add.opened {
    transform: rotate(45deg);
}

.add::before, .add::after {
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    background-color: black;
    transition: 0.2s;
}

.add::after {
    transform: translateY(-50%) rotate(90deg);
}

.add:hover::after, .add:hover::before,
.add.opened::after, .add.opened::before {
    height: 25px;
}

@keyframes addMenuAppearance {
    0% {
        opacity: 0;
        width: 0;
        top: 0;
        transform: translateX(-40%) scale(0.5);
    }
    100% {
        opacity: 1;
        width: 360px;
    }
}

.addMenu {
    position: absolute;
    top: 50px;
    transform: translateX(-80%);
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    list-style: none;
    background: #E3E3E3;
    border-radius: 5px;
    animation: addMenuAppearance 0.2s;
    z-index: 10;
}