.allKnowledges,
.allThemes {
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.allKnowledges li,
.allThemes li {
    border: 1px solid gray;
    background-color: rgba(209, 209, 209, 0.15);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

.allThemes li {
    text-align: center;
}

.themesName {
    margin-top: 5px;
}

.themesName a {
    transition: transform 0.15s;
    color: rgb(110, 202, 255);
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 21px;
    width: fit-content;
    transition: all 0.3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}

.themesName a:hover {
    transform: scale(1.04);
    background-size: 100% 2px;
}

.themesName i {
    opacity: 0;
    font-style: normal;
    transition: opacity 0.2s;
    margin-left: 5px;
}

.themesName a:hover i {
    opacity: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper .quantum .type {
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

legend {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
}
